
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        .container{margin-left: 0;}

    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <p>
                    SP信息设置
                </p>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 新建</button>
        <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-center"></em> 删除</button>
        <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-right"></em> 保存</button>
        <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-justify"></em> 刷新</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>石家庄优果软件科技有限公司</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
